{% extends 'PimImportExportBundle:JobProfile:show.html.twig' %}

{% macro magento_configuration(config, violations, jobType) %}
<table class="configuration">
    <thead></thead>
    <tbody>
        {% for element,elementParameters in config['attributes'] %}
            <tr>
                <td><b>{{ 'pim_magento_connector.%s.%s.label'|format(jobType, element)|trans }}</b></td>
                    <td><span class="{{ elementParameters['class'] is defined ? elementParameters['class'] }}">{{ elementParameters['value']|normalizeValue|trans }}</span> {{ getViolations(violations, element) }}
                    {% if elementParameters['type'] is defined and elementParameters['type'] == 'url' %}
                    <a target="_blank" href="{{ elementParameters['value']|normalizeValue }}"><i class="icon-circle-arrow-right"></i></a>
                    {% endif %}
                    </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% block configuration %}
    {% set cpt = 1 %}
    {% for configurationBlock in get_show_configuration(jobInstance.job.configuration) %}
        {% set configuration = _self.magento_configuration(
            configurationBlock,
            violations,
            action
        ) %}
        {{ elements.accordion({ (configurationBlock['title']): configuration }, cpt, true) }}
        {% set cpt = cpt + 1 %}
    {% endfor %}
{% endblock configuration %}
